<launch>
    <arg name="paused" default="false"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="gui" default="true"/>
    <arg name="headless" default="false"/>
    <arg name="debug" default="false"/>
    <arg name="robot_namespace" default="/"/>
    <arg name="world_name" default="$(find micebot_launch)/worlds/garden.world"/>
    <arg name="model" default="$(find micebot_description)/urdf/micebot.urdf.xacro"/>
    <arg name="rvizconfig" default="$(find micebot_description)/rviz/urdf.rviz"/>

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(arg world_name)"/>
        <arg name="debug" value="$(arg debug)" />
        <arg name="gui" value="$(arg gui)" />
        <arg name="paused" value="$(arg paused)"/>
        <arg name="use_sim_time" value="$(arg use_sim_time)"/>
        <arg name="headless" value="$(arg headless)"/>
    </include>

    <param name="robot_description" command="$(find xacro)/xacro $(arg model)"/>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
            respawn="false" output="screen" />

    <rosparam command="load" file="$(find micebot_description)/config/control.yaml" />

    <node name="gazebo_controller_spawner" pkg="controller_manager" type="spawner"
            args="micebot_joint_publisher micebot_diff_drive_controller"/>

    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
        args="-z 1.0 -x 0.0 -y 0.0 -unpause -urdf -model micebot -param robot_description"/>
    
    <node name="fruitlet_spawner" pkg="micebot_launch" type="spawn_fruitlet.py" output="screen" />

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)"/>
</launch>